

.hero {
    color: var(--second-text-color);
    background-color: #2F303A;
    text-align: center;
    padding: 118px 60px;
    margin-bottom: 60px;
    /*картинка героя*/
    width: 1600px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}





