/*команда*/
/*
.komand {
    
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
            display: flex;
            gap: 30px;
        }
    
        &__card {
            display: flex;
            flex-basis: calc((100% - 3*30px)/4);
            flex-wrap: wrap;
            flex-direction: column;
            background-color: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
    
        &__title {
            color: var(--title-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
    
        &__text {
            margin-bottom: 16px;
    
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
        }
    
        &__information {
            padding-top: 30px;
            padding-bottom: 30px;
        }
}*/

.komand {
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
    background-color: var(--primary-bg-color);
}

.komand__card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 30px;
}

/*.komand__card img {
    width: 100%;
}*/

.komand__title{
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1719;
        /*text-align: center;*/
        margin-bottom: 10px;
    
}

.komand__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.1719;  
}

.komand__information {
    padding-top: 30px;
    padding-bottom: 24px;
}


