/*команда*/

.komand {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--primary-bg-color);

    @media screen and (min-width: 1199px) {
            padding-bottom: 94px;
            padding-top: 94px;
        }
}

.komand__card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-basis: calc((100% - 30px)/2);
            flex-wrap: wrap;
            flex-direction: column;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 3*30px)/4);
            }
}

.komand__list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.komand__title{
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1719;
        /*text-align: center;*/
        margin-bottom: 10px;   
}

.komand__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.1719;  
}

.komand__information {
    padding-top: 30px;
    padding-bottom: 24px;
}


