.social-list {
    display: flex;
    margin-left: 122px;
    margin-right: 122px;
    gap: 10px;
}

.social-card {
    display: flex;
    flex-basis: calc((100% - 3*10px)/4);
    height: 44px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--icons-primary-color);
    background-color: #FFFFFF;
    border-radius: 50%;

    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

        &:hover,
            &:focus {
                color: var(--second-text-color);
                background-color: var(--accent-color);
            }
}



.social-icon {
    background-repeat: no-repeat;
    background-size: contain;
    fill: currentColor;
}







