/*особливості*/
/*.specials {
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
            display: flex;
            gap: 30px;
        }
    
        &__item {
            flex-basis: calc((100% - 60px)/4);
        }
               
}*/

.specials {
    padding-bottom: 60px;
}

.specials__item {
    padding-bottom: 30px;
}

.specials__item:last-child{
    padding-bottom: 0;
}

.specials__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: var(--primary-bg-color);
}

.specials__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

